:root {
  --height: 350px;
  --widht: 450px;
  --important-color: #e8175d;
  --white-color: #020202;
  --shadow-color: 232, 23, 93;
  --color-shadow1: rgba(var(--shadow-color), 1.2) 0px 1px 1px 0px inset;
  --color-shadow2: rgba(var(--shadow-color), 0.35) 0px 50px 100px -20px;
  --color-shadow3: rgba(var(--shadow-color), 1.3) 0px 30px 60px -30px;
}

.titleApp {
  font-size: 3rem;
  color: var(--white-color);
  text-align: center;
}

.titleApp::first-letter {
  font-size: 3.5rem;
  font-family: "Helvetica";
  color: var(--important-color);
}

input {
  text-align: center;
  background: 0;
  border: 0;
  outline: none;
  width: 100%;
  font-size: 1.5em;
  transition: padding 0.3s 0.2s ease;
  color: var(--white-color);
}

/* input:focus {
  padding-bottom: 5px;
} */

input:focus + .line:after {
  transform: scaleX(1);
}

.field {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.field .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #bdc3c7;
}

.field .line:after {
  content: " ";
  position: absolute;
  float: right;
  width: 100%;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: var(--important-color);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  columns: 5 320px;
  column-gap: 10px;
}

.gallery img,
.card {
  margin-bottom: 10px;
  outline: 1px solid #f2f2f2;
  outline-offset: -10px;
  transition: box-shadow 0.4s ease;
  border-radius: 12px;
}

@media screen and (max-width: 400px) {
  .gallery img,
  .card {
    height: 310px;
  }
}

@media (hover: hover) {
  .gallery img:hover {
    box-shadow: rgba(var(--shadow-color), 1.2) 0px 1px 1px 0px inset,
      rgba(var(--shadow-color), 0.35) 0px 50px 100px -20px,
      rgba(var(--shadow-color), 1.3) 0px 30px 60px -30px;
  }
}
